input[type = "radio"]{
   appearance: none;
   background-color: #FFF;
   margin: 2;
   font: helvetica;
   color: #010175;
   width: 2rem;
   height: 2rem;
   display: inline;
   place-content: center;
   cursor: pointer;
   border: 0.15em solid #007d7b;
   border-radius: 50%;
   vertical-align: middle;
}

input[type = "radio"]::before{
   content: "";
   border-radius: 50%;
   width: 1rem;
   height: 1rem;
   transform: scale(0);
   transition: transform 0.15s ease-in-out;
   box-shadow: inset 1em 1em #3197EE;
}

#agree:checked{
   border-color: #28A745;
   background-color: #67ff5c;
}

#agree:checked::before {
  background-color: #28a745;
}

#disagree:checked {
  border-color: #dc3545;
  background-color: #ff9696;
}

#disagree:checked::before {
  background-color: #dc3545;
}

input[type="radio"]:hover {
  background-color: #f0f7ff;
}

label {
   pointer-events: none;
   cursor: default;
   font-size: 2rem;
   vertical-align: middle;
   margin-left: 3px;
}
h1 {
   font-size: 2.3rem;
   cursor: default;
}